body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#main-navbar {
    background-color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.brand-color {
    color: #333333;
}

.nav-link:hover,
.brand-color:hover {
    color: #b3b347;
}



/*Banner OR Hero Section*/
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #b3b347;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.banner .row {
    min-height: calc(100vh-174px);
}

.banner.inner-page,
.banner.inner-page .row {
    min-height: 400px;
    height: 500px;
}

.banner h2 {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.banner h1 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner p {
    color: #fff;
}

@media(min-width:768px) {
    .banner h1 {
        font-size: 70px;
    }

    .banner p {
        color: #fff;
        font-size: 20px;
        line-height: 35px;
    }

    .banner .intro-text {
        font-size: 16px;
        line-height: 1.5;

    }

    .banner-content {
        margin-top: 20%;
        text-align: center;
    }
}

@media(min-width:768px) {
    .banner-content {
        margin-top: 40%;
    }

    .banner .inner-page .banner-content {
        margin-top: 20%;
        text-align: center;
    }
}

@media(min-width:768px) {
    .banner.inner-page .banner-content {
        margin-top: 30%;
    }
}

.btn-hero {
    background: #333333 !important;
    color: #fff;
    border-radius: 1.5rem !important;
    border: 3px solid #333333;
    font-weight: bold !important;
}

.btn-hero:hover {
    background: rgb(68, 63, 35) !important;
    color: #fff;
    border: 3px solid rgb(68, 63, 35);
}

/*category section*/
.category-section {
    padding: 80px 50px;
}

.category-alone {
    position: relative;
    z-index: 1;
}

.category-alone:hover::before {
    transform: scale(1);
}

.category-alone::before {
    position: absolute;
    left: 35px;
    top: 30px;
    border: 14px solid #333333;
    content: "";
    opacity: 0.3;
    width: calc(100% - 70px);
    height: calc(100% - 60px);
    transform: scale(0);
    transition: all 0.3s;
}

.category-alone img {
    min-width: 100%;
}

.category-alone .inner {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
}

.category-alone .inner h4 {
    color: #fff;
    font-weight: bold;
    padding: 11px 28px;
    background: #333333;
    border-radius: 2px;
}

/*------Product Section */
.product-panel .nav-tabs {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
}

.product-panel .nav-tabs .nav-item {
    margin-bottom: -1px;
    display: inline-block;
}

.product-panel .nav-tabs li a {
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    font-weight: 500;
    background: #fff;
    color: #333;
    padding: 3px 14px;
    border-radius: 3px;
    font-size: 14px;
}

.product-panel .nav-tabs li:last-child a {
    border-color: transparent;
}

.product-panel .nav-tabs li a i {
    margin-right: 10px;
}

.product-panel .nav-tabs li a.active,
.nav-tabs li:hover a {
    background: #b3b347;
    color: #fff;
    border-color: transparent;

}

.single-product {
    margin-top: 50px;

}

.product-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.product-img a {
    display: block;
    position: relative;
}

.product-img a img {
    width: 100%;
}

.product-img a img.hover-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0 0.44, 1.18);

}

/*  ====*/
.product-img a span {
    background: #b3b347;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    right: 20px;
    top: 20px;
    padding: 1px 16px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    border-radius: 30px;
    height: 26px;
    line-height: 25px;
}

.product-img a span.new {
    background: #b3b347;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    right: 20px;
    top: 20px;
    padding: 1px 16px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    border-radius: 30px;
    height: 26px;
    line-height: 24px;
}

.product-img .action-button {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 99;
    border-radius: 3px;
    bottom: 45px;
}

.product-img .action-button a {
    background: transparent;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    text-align: right;
    top: 2px;
    text-decoration: none;
    transition: color 0.3s ease;
    line-height: 52px;
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.product-img .action-button a i {
    color: #8c3b70;
    line-height: 30px;
    font-size: 18px;
    opacity: 1 !important;
    transition: none;
}

.product-img .action-button a:hover {
    color: #b84a45;
}

.product-img .action-button a:hover i {
    border-color: #b84a45;
    color: #b84a45;
}

.product-img .action-button a:hover span {
    visibility: visible;
    opacity: 1;
    color: #333;
    background-color: #fff;
    margin-top: -30px;
}

.product-img .action-button a:last-child {
    margin-right: 0;
    border: none;
}

.product-img .action-button a span {
    visibility: hidden;
    position: absolute;
    background: #b3b347 !important;
    color: #fff !important;
    text-align: center;
    padding: 5px 12px;
    z-index: 10;
    opacity: 0;
    transition: opacity .5s, margin .3s;
    font-size: 10px;
    right: 0;
    line-height: 14px;
    top: -12px;
    margin-top: -5px;
    margin-right: 0;
    display: inline-block;
    width: 130px;
    border-radius: 15px 0 0 15px;
}

.product-img .action-button a span::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -12px;
    border: 6px solid #b3b347;
    border-left: 0px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.product-img .title {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    z-index: 99;
    transition: all 250ms ease-out;
}

.product-img .title a {
    display: block;
    background: transparent;
    color: #333;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;


}

.product-img .title a:hover {
    color: #b3b347;
}

.button-head {
    background: #fff;
    display: inline-block;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 9;
    line-height: 20px;
    transition: all 0.4s ease;
}

.single-product:hover .button-head {
    bottom: 0;
}

.button-low {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-low a {
    background-color: #b3b347;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-low a:hover {
    background-color: #333333 !important;
}

.single-product .product-title {
    margin-top: 20px;
}

.product-img:hover {
    background: rgba(38, 38, 38, 0.2);
    z-index: 9;
    transition: all 250ms ease-out;
    opacity: 1;
}

.product-img:hover img.hover-img {
    opacity: 1;
}

.product-title h3 {
    line-height: 22px;
}

.product-title h3 a {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #333333;
}

.product-title h3 a:hover {
    color: #b3b347 !important;
}


/*Service Section */
.service-intro {
    background: #d6d58b;
}

.service-intro .intro {
    z-index: 0;
    position: relative;
}

.intro {
    width: 100%;
    background: #b3b347;
    padding: 30px;
}

.intro.color-1 {
    background: #d6d58b;
}

.intro.color-2 {
    background: #b3b347;
}

.intro .icon {
    margin-right: 20px;
}

.intro .icon i {
    font-size: 60px;
    color: #fff;
    padding-top: 15px;
}

.intro .text {
    color: rgba(255, 255, 255, 0.8);
}

.intro .text h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

/*end of Services*/
.about-area .about-details h2 {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area .about-details h2 {
        font-size: 46px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area .about-details h2 {
        font-size: 33px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area .about-details h2 {
        font-size: 29px
    }
}

@media (max-width: 575px) {
    .about-area .about-details h2 {
        font-size: 29px
    }
}

.about-area .about-details P {
    margin-bottom: 50px;
    font-size: 17px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area .about-details P {
        font-size: 16px
    }
}

.about-area .about-img img {
    width: 100%
}

.padding-130 {
    padding-bottom: 130px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .padding-130 {
        padding-bottom: 120px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .padding-130 {
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .padding-130 {
        padding-bottom: 0px
    }
}

@media (max-width: 575px) {
    .padding-130 {
        padding-bottom: 0px
    }
}

/*------about-------*/
.btn-about {
    background-color: #333333 !important;
    color: #fff !important;
    border-radius: 2rem !important;
}

.btn-about:hover {
    background: rgb(68, 63, 35) !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: url("./images/img-9.jpg") center center no-repeat;
    color: #fff;
    font-size: 14px;
    position: relative;
}

#footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #b3b347;
    z-index: 1;
}

#footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
}

#footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding: 30px 0 0 0;
    margin-bottom: 0;
}

#footer .footer-top p {
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

#footer .footer-top p i {
    color: #333333;
    font-size: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#footer .footer-top p span {
    font-size: 15px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #333333;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: rgb(68, 63, 35);
}

#footer .footer-top .social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: #333;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s;
}

#footer .footer-top .social-links a.facebook {
    color: #1877F2;
}

#footer .footer-top .social-links a.facebook:hover {
    background: rgb(68, 63, 35);
    text-decoration: none;
    transform: scale(1.1);
}

#footer .footer-top .social-links a.tiktok {
    color: black;
}

#footer .footer-top .social-links a.tiktok:hover {
    background: #444;
    color: white;
    transform: scale(1.1);
}

#footer .footer-bottom {
    border-top: 1px solid #30024e;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}

.new-arrivals {
    text-align: center;
    padding: 20px;
}

.carousel {
    display: block !important;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}